<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team section</title>
    <link rel="icon" href="/photos/Icons_LO.png" type="image/png">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/3.0.7/tailwind.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="/styles/style.css"> <!-- Update the path to your CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9151064528587732"
     crossorigin="anonymous"></script>
</head>
<body >
	<%- include("partials/header") %>
	<div class="bg-gradient-to-b from-purple-500 to-pink-500 text-white font-sans">

		
		<section class="min-h-screen flex flex-col justify-center items-center">
			
			<div class="mb-16">
				<h1 class="text-4xl md:text-5xl lg:text-6xl font-bold font-sans">Our Team</h1>
			</div>
			
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 max-w-4xl">
				
				<div class="bg-pink-600 rounded-xl p-6 flex flex-col items-center justify-center transform transition duration-300 hover:-translate-y-2">
					<img src="photos\aman.png" class="w-48 h-44 rounded-full mb-3">
					<h3 class="text-xl font-semibold mb-2">Aman Kumar</h3>
					<div class="flex justify-center">
						<a href="https://www.linkedin.com/in/amangrd8/" class="text-white mr-4 hover:text-pink-300"><i class="ri-linkedin-fill text-xl"></i></a>
                <a href="https://github.com/Amank04" class="text-white hover:text-pink-300"><i class="ri-GitHub-fill text-xl"></i></a>
            </div>
        </div>
		
        <div class="bg-pink-600 rounded-xl p-6 flex flex-col items-center justify-center transform transition duration-300 hover:-translate-y-2">
			<img src="photos\aditya.png" class="w-48 h-44 rounded-full mb-3">
            <h3 class="text-xl font-semibold mb-2">Aditya Singh</h3>
            <div class="flex justify-center">
				<a href="https://www.linkedin.com/in/aditya-singh-5b581125b/" class="text-white mr-4 hover:text-pink-300"><i class="ri-linkedin-fill text-xl"></i></a>
                <a href="https://github.com/adityasingh151" class="text-white hover:text-pink-300"><i class="ri-GitHub-fill text-xl"></i></a>
            </div>
        </div>
		
        <div class="bg-pink-600 rounded-lg p-6 flex flex-col items-center justify-center transform transition duration-300 hover:-translate-y-2">
			<img src="photos\tushitaa.png" class="w-48 h-44 rounded-full mb-3">
            <h3 class="text-xl font-semibold mb-2">Tushitaa Ojha</h3>
            <div class="flex justify-center">
				<a href="https://www.linkedin.com/in/tushitaa-narayan-ojha-67a295272/" class="text-white mr-4 hover:text-pink-300"><i class="ri-linkedin-fill text-xl"></i></a>
                <a href="https://github.com/Tushitaa18" class="text-white hover:text-pink-300"><i class="ri-GitHub-fill text-xl"></i></a>
            </div>
        </div>
		
        <div class="bg-pink-600 rounded-2xl p-6 flex flex-col items-center justify-center transform transition duration-300 hover:-translate-y-2">
			<img src="photos\vikrant.png" class="w-48 h-44 rounded-full mb-3">
            <h3 class="text-xl font-semibold mb-2">Vikrant Mishra</h3>
            <div class="flex justify-center">
				<a href="https://www.linkedin.com/in/vikrant-mishra-03524625a/" class="text-white mr-4 hover:text-pink-300"><i class="ri-linkedin-fill text-xl"></i></a>
                <a href="https://github.com/Vikrantmishra" class="text-white hover:text-pink-300"><i class="ri-GitHub-fill text-xl"></i></a>
            </div>
        </div>
		
    </div>
</section>
</div>
<%-include("partials/footer") %>
</body>
</html>
